.section1 {
    padding: 1px;
    margin-bottom: 5px;
    display: flex;
    gap: 15px;
}

.section1 img {
    height: 52px;
    margin: 20px 0;
    /* border: 1px dotted #800080;
    border-radius: 25px; */
    padding: 4px;
}

/* .section1:hover img {
    background: #98FF3C;
    border: 1px solid #98FF3C;
    border-radius: 25px;
    cursor: pointer;
    filter: invert(1);
    padding: 2px;
} */

.section1:hover h2 {
    text-decoration: underline;
    cursor: pointer;
}

.section1 p {
    margin: 0;
    padding: 10px 0;
    color: #000000
}

.section1 h2 {
    margin: 0;
    padding: 10px 0;
}

.width90 {
    width: 140px;
}