.dialog-breakable {
    position: relative;
  }
  
  .lottie-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .lottie-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevent interaction with the animation */
    z-index: 1; /* Ensure it sits above other dialog elements */
  }