$breakpoint-desktop: 992px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 767px;
.carousel-container-cell {
  .carousel__arrow {
    position: absolute;
    top: 50%;
    display: block;
    color: white;
    cursor: pointer;
    opacity: 0.75;
    transform: translateY(-50%);
    transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);

    &:focus {
      outline: 0;
    }

    &:hover {
      opacity: 0.5;
    }

    &--left {
      left: 15px;
      top: 51px;

      @media (max-width: $breakpoint-tablet) {
        left: 30px;
      }

      @media (max-width: $breakpoint-mobile) {
        left: 15px;
      }
    }

    &--right {
      right: 15px;
      top: 51px;

      @media (max-width: $breakpoint-tablet) {
        right: 30px;
      }

      @media (max-width: $breakpoint-mobile) {
        right: 15px;
      }
    }
  }
}
